.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/
uv.lock

# Model formats
*.onnx
*.onnx.data

*.mlmodel
*.mlpackage

*.tflite

*.pt
*.pt2

*.ncnn.param
*.ncnn.bin
*.pnnx.param
*.pnnx.bin
*_ncnn.py
*_pnnx.py

*.engine
